$primary: #7366ff;
$secondary: #4166f5;
$p-light: #dad6fd;
$success: #3e8d63;
$info: #7854e4;
$warning: #f76e7a;
$danger: #d62518;
$light: #f8f9fa;
$sec-light: #f8f9fe;
$dark: #343a40;
$accent : #da6d25;