@import "./src/themes/colors";
.dropzone {
  border: dashed 1px lightgray;
  padding: 5%;
  text-align: center;
  &:hover{
    border-color: darkgrey;
  }
}

#file-uploader {
  width: 500px;
  height: 370px;
}